bookmarks
/ac-comphist.dat
elpa
eshell
*~
/nrepl-history
/places
/projectile-bookmarks.eld
/projectile.cache
server
/tramp
tutorial
url
/history
*.elc
.places
abbrev_defs
custom.el
/ido.last
/network-security.data
/recentf
ensime
