[submodule "site-lisp/dash"]
	path = site-lisp/dash
	url = https://github.com/magnars/dash.el.git
[submodule "site-lisp/restclient"]
	path = site-lisp/restclient
	url = https://github.com/pashky/restclient.el
[submodule "site-lisp/sublimity"]
	path = site-lisp/sublimity
	url = https://github.com/zk-phi/sublimity
